{{#async-tree
  fetch=fetch
  checkOpen=checkOpen
  open="open"
  as |node isOpen hasChildren|
}}
  {{#if node}}
    {{#if hasChildren}}
      {{#if isOpen}}
        <button {{action 'close' node}}>-</button>
      {{else}}
        <button {{action 'open' node}}>+</button>
      {{/if}}
    {{/if}}
    {{node.name}}
  {{/if}}
{{/async-tree}}
